PORT=5000
MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/sigpro_minresi
JWT_SECRET=changez_ce_secret_en_production_123456
JWT_EXPIRE=7d
NODE_ENV=production
FRONTEND_URL=https://votre-app.onrender.com
